

<div class="center home hero-unit">
    <h1>Hillary Keel</h1>

    <h2>
      New York City
    </h2>

    </div>

	 <div class="row span6 offset3">
			<p><strong>Translation from German or French to English and Language Services including editing and proofreading. Keel is a Brooklyn-based Poet, Prose writer and educator.<strong></p>
		</div>
		
		
	
