

<div class="home hero-unit">
    <h1>Hillary Keel<br>nyc</h1>
    </div>

<div class="row">
	<div class="span4 offset4 well tagline">
	<p class="lead">Teacher of German, English<br>
	as a Second Language,<br>
	Editor, Proofreader,<br>
	Translator, Author<br>
	of Poetry and<br>
	Prose</p> 
	</div>					
</div>
<div class="row span6 offset3">

	<div id="projects_controller">
		<div id="keyboard">
		 	<div class="upper">
				<li>&auml;</li>
				<li><em>p</em></li>
				<li>&uuml;</li>
				<li>&amp;</li>
				<li>&ouml;</li>
			</div>
			<div class="lower">
				<li>&eacute;</li>
				<li>&szlig;</li>
				<li><em>h</em></li>
				<li><em>k</em></li>
				<li>&ccedil;</li>
				<li>v</li>
			</div>
		</div>
	</div>
</div>	
		
		
	
