<header>
	<h2>Poetry and Prose</h2>
</header>

	<div class="row">	
		<div class="span12">
			<div class="row">
				<div class="span6">	
				<h3>thanks</h3>
				<p class="poem">fog and my book, outside<br>
				morning frost on grass blades,<br>
				berries, brambles—the morning<br>
				walk of gaze, through window the<br>
				earth is redeveloped, a kind of plaster<br>
				doesn’t  prefer me; though pie and sex,<br> 
				slices of love laid open in my space and<br>
				eyes, a view I fill, a curved wall of beauty<br>
				with purple bag and fur, a style of diagonal<br>
				on brown soft, the vessel of concept, this<br>
				fierceness is anti-fragile and expansive,<br>
				lets in evening light.</p>

				<p class="muted credit">Photo: <i>lighthouse</i><br>by Hillary Keel</p>
				</div>
				<div class="span5 offset1 pull-right poem">
				<%= image_tag "lighthouse.jpg" %>
				</div>

			</div>
		</div>	
	
	   
	<div class="row span6">	<h3>lighthouse</h3></div>
		<div class="row">
			<div class="span12 visual">
		
			<p class="offset1">up</p>
			<p class="offset2">stepping</p>
			<p class="offset3">with feet</p>
			<p class="offset4">air in my lungs</p>
			<p class="offset5">with</p>
			<p class="offset6">as I step up</p>
			<p class="offset7">in surface</p>
			<p class="offset7">they note the change</p>
			<p class="offset6">my fingers slide over</p>
			<p class="offset5">in the bannister</p>
			<p class="offset4">some nails</p>
			<p class="offset3">of smoothed painted wood</p>
			<p class="offset2">on the banister</p>
			<p class="offset1">my hand rests</p>
			<p>they lead me</p>
			<p class="offset1">and up</p>
			<p class="offset2">pull me forward</p>
			<p class="offset3">my knees</p>
			<p class="offset4">my feet</p>
			<p class="offset5">another</p>
			<p class="offset6">after</p>
			<p class="offset6">one foot</p>
			<p class="offset5">up</p>
			<p class="offset4">step</p>
			<p class="offset4">I</p>
			<p class="offset3">here</p>
			<p class="offset2">to step off</p>
			<p class="offset1">but don't want</p>
			<p>leading to hallways</p>
			<p class="offset1">past green doors</p>
			<p class="offset2">I step up</p>
			<p class="offset3">want to look ahead</p>
			<p class="offset5">I don't even</p>
			<p class="offset4">sometimes further</p>
			<p class="offset4">far sometimes close
</p>
			<p class="offset3">I see a top</p>
			<p class="offset2">up</p>
			<p class="offset1">I step</p>
			<p>I step up</p>
			<p>from light coming in windows</p>
			<p class="offset1">dust sparkling</p>
			<p class="offset2">floating through this space</p>
			<p class="offset3">but enjoy the dust</p>
			<p class="offset4">no point in looking back</p>
			<p class="offset5">I see where I've been</p>
			<p class="offset4">I see down</p>
			<p class="offset3">and see light</p>
			<p class="offset2">I look up</p>
			<p class="offset2">at the window</p>
			<p class="offset1">up up up</p>
			<p>smoothed by others before me</p>
			<p>the flat smoothed boards</p>
			<p class="offset1">a curve-ward up</p>
			<p class="offset2">a spiral</p>
			<p class="offset3">in a circle</p>
			<p class="offset4">hand on banister</p>
			<p class="offset3">through oval windows – I step up
</p>
			<p class="offset2">light coming in</p>
			<p class="offset1">a tower with</p>
			<p>wooden creaky steps</p>
			<p>&nbsp;</p>
	</div>
</div>	
</div>