$bodyBackground: #fcffef;
 
@import "bootstrap";

/* universal */
html, body {height: 100%}
/*html {
  overflow-y: scroll;
}*/
body {padding-top: 0;}
.hero-unit {
  padding-top: 150px; 
}

/*section {
  overflow: auto;
}

textarea {
  resize: vertical;
}*/


.home {
  background-color: #fcffef;
  color: #000066;
  }
 	  h1 {
  	    padding-left: 76px;
}
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -60px;
}
#push, #footer {
	height: 60px;
}
img {
	margin-top: 160px;
	border: 12px whiteSmoke solid;
	outline: 1px #e3e3e3;
	border-radius: 5px;
	}

/* typography */

h2, h3, h4, h5, h6, p, li {
	font-family: Georgia, Garamond, "Times New Roman", serif;
  	
  	color: #000066;
}
/*.navbar ul li {
	color: #000066;
	font-size: 1.2em;
	letter-spacing: .06em;
	font-weight: bold;	
}*/
.navbar .nav li a {
	color: #08C;
	font-size: 1.2em;
	letter-spacing: .06em;
	padding: 10px 30px 10px;
	font-weight: bold;
	&:hover {
	  color: #000066;
	}
}
h4 {
	font-size: 1.3em;
	letter-spacing: .05em;
}
h1 {
  font-family: Copperplate, "Copperplate Gothic Light", sans-serif;
  /*font-size: 3em;*/
  letter-spacing: -2px;
  /*margin-bottom: 60px;*/
  text-align: center;
  color: #000066;
}

h2 {
  
  letter-spacing: .06em;
  padding: 100px 0 50px;
  color: #000066;
}
p {
  font-size: 1.2em;
  letter-spacing: .06em;
  line-height: 1.7em;
  text-align: justify;
}
  .lead {
	text-align: center;
}
.poem {
	text-align: left;
	padding-bottom: 50px;
}
/* header */

#logo {
  font-family: Copperplate, "Copperplate Gothic Light", sans-serif;	
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #000066;
  text-transform: lowercase;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-left: 30px;
  font-weight: bold;
  line-height: 1;
  &:hover {
	color: #08C;
	text-decoration: none;
  }
}
.nav.pull-right {padding-right: 20px}

#footer p {
	text-align: center;
	text-indent: 3em;
	margin-bottom: 2px;
	&:nth-child(even) {
	  text-indent: 5em;	
	} 		
}